body {
    font-family: arial;
    font-size: 14px;
    background-color: #eee;
}
a:link {
    color:red;
}
a:visited {
    color: green;
}
a:hover {
    color: pink;
}
a:active {
    color: blue;
}
p:hover {
    background-color: yellow;
}